/* Added by Lewis 
as per https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551 */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh; /* cover 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of footer */
}

.Navbar {
  margin-bottom: 2rem;
}

/* #wrapper {
  color: red!;
} */

/* End of additions by Lewis *************************************/

/* Moved some of this to Footer.css - Lewis
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
*/

/* COMMENTING OUT TO TRY AND FIX NAVBAR FALLING ODDITY
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content-wrap{
  flex:1;
}
*/
