/* commenting out Lewis to troubleshoot falling navbar oddity
.main-footer{
  color: white;
  background-color: #212529;
  padding-top: 0.5em;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
*/

.main-footer {
  color: white;
  /* background-color: #212529; */
  background-color: #343a40; /* CHANGED TO MATCH NAVBAR's Bootstrap bg-dark */
  margin-top: 5rem;
  padding-top: 0.5em;
  text-align: center;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

#theLine {
  border-top: 1px solid white;
  margin: 6px 0px 20px 0px;
}

.footerIcon {
  vertical-align: bottom;
  transition: all 0.2s ease-in-out;
}
.footerIcon:hover {
  transform: scale(2);
}

.iconLi {
  padding-top: 4px;
}

.footerLink {
  color: white;
}

.footerIconLink {
  color: white;
}

.footerIcon:hover {
  transform: scale(1.4);
}
